<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      Employee

      <div class="row">

        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              create
            </div>
            <div class="card-body">
            <form [formGroup]="formbuildergroup" (ngSubmit)="Onsubmit()">
              <div class="row">

                <div class="col-sm-12">
                  <label>Name</label>
                  <input type="text" formControlName="name" class="form-control" />
                </div>
                <div class="col-sm-12">
                  <label>MobileNo</label>
                  <input type="text" formControlName="mobileNo" class="form-control" />
                </div>
                <div class="col-sm-12">
                  <label>Emailid</label>
                  <input type="text" formControlName="emailID" class="form-control" />
                </div>
                <div class="col-sm-12">
                 <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </div>
            </form>
          </div>
          </div>
        </div>
        <div class="col-sm-6">
          <table class="table">
            <thead>
              <tr>
                <td>Name</td>
                <td>Mobile NO</td>
                <td>Email ID</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of employeearry">
                <td>{{emp.name}}</td>
                <td>{{emp.mobileNo}}</td>
                <td>{{emp.emailID}}</td>
                <td>
                  <button (click)="filform(emp)" class="btn btn-link" type="submit">Edit</button>
                  <button class="btn btn-link" type="submit">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>